.ribbon{
        position: relative;
        width: 20%;
        font-size:15px;
        font-weight: bold;
        padding: 12px 20px 13px 50px;
        /*margin-left:83px;*/
        color: #fff;
        background-color: #ff6a00;
        text-shadow: 0px 1px 2px #bbb;
        -webkit-box-shadow: 0px 2px 4px #888;
        -moz-box-shadow: 0px 2px 4px #888;
        box-shadow: 0px 2px 4px #888;
        
}



.ribbon:before, .ribbon:after
{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
}
 
.ribbon:before
{
        width: 40%;
        left: -30%;
        top: 15px;
        border-width:1.267em 0.867em;
        border-style: solid;
        border-color: #999 #999 #999 transparent;
}
 
.ribbon.flag:before
{
        width: 0px;
        left: auto;
        right: -3px;
        top: 0px;
        border-color: transparent #fff transparent transparent;
}
.ribbon.flag2:before
{
        width: 0px;
        left: auto;
        right: -4px;
        top: 0px;
        border-color: transparent #E3E3E3 transparent transparent;
}
 
.ribbon:after
{
        left: 0px;
        top: 100%;
        border-width: 5px 10px;
        border-style: solid;
        border-color:#a34b11 #a34b11 transparent transparent;
}



.example
{
    float:left;
    width: 80%;
    height: 30%;
    background: lightgrey;
    text-align: center;
}